@import url('https://fonts.googleapis.com/css?family=Comfortaa:400,700|Indie+Flower|Poiret+One|Julius+Sans+One');

body {
    background-image: url("../img/airbus/background.jpg");
    background-size: 100%;
    overflow: hidden;
}

/* Generic Styles */
p {
	font-family: 'Comfortaa', cursive;
}

/* Header */
#stripe {
	position: relative;
	left: -10px;
	width: 101em;
	height: 25px;
	background: linear-gradient(to right, #24407B, #24407B, #D1CFDF, #D1CFDF, #D1CFDF,  #24407B,  #24407B);
}

#head {
	position: relative;
	top: 10em;
	width: 200em;
}

#headText {
	position: relative;
	text-align: center;
    top: 1em;
	left: 30em;
	width: 20em;
	height: 10em;
}
#headFlight {
	position: relative;
	right: 3em;
	font-family: 'Comfortaa', cursive;
	font-size: 2.5em;
	font-weight: bold;
	color: #D81921;
}
#headLevel {
	position: relative;
	top: 0.85em;
	left: -5.45em;
	font-family: 'Comfortaa', cursive;
	font-size: 2.5em;
	font-weight: bold;
	color: #D81921;
}

#headNum {
	position: relative;
	top: -0.7em;
	left: -0.5em;
	font-family: 'Indie Flower', cursive;
	font-size: 6em;
	font-weight: bold;
	color: rgb(236, 240, 241);
}

#airbusTitle {
    position: relative;
	top: -3.35em;
    left: 4em;
    font-family: 'Poiret One';
    font-size: 5em;
    font-weight: bold;
}

.toIndex {
	text-decoration: none;
}

#airbusBoxes {
	position: relative;
	top: 9.5em;
	left: -1.5em;
}

/* A380 */

#a380Box {
	position: relative;
    display: inline-block;
	vertical-align: top;
	left: 3.5em;
	height: 30em;
	width: 22.5em; 
	background-color: #111111;
	opacity: 0.6;

	transition: opacity .25s ease-in-out;
   	-moz-transition: opacity .25s ease-in-out;
   	-webkit-transition: opacity .25s ease-in-out;
	-o-transition: opacity .25s ease-in-out;
}

	#a380Box:hover {
		opacity: 0.9;
	}

#a380 {
	position: relative;
	left: 1.5em;
	top: 5em;
	width: 20em;
	z-index: 0;
}

#a380Brand {
	position: relative;
	top: -0.2em;
	left: 0.1em;
	font-size: 7em;
	color: #ffffff;
}

#a380Craft {
	position: relative;
	font-family: "Poiret One", cursive;
	top: -1.3em;
	left: 0.1em;
	font-size: 7.5em;
	color: #ffffff;
}

#a380Description {
	position: relative;
	top: 7.5em;
	left: 0.6em;
	width: 21.5em;
	color: #ffffff;
}

#a380Stats {
	position: relative;
	top: 5em;
	left: 4em;
	color: #ffffff;
}

/* A350 */

#a350Box {
	position: relative;
    display: inline-block;
	vertical-align: top;
	left: 3.5em;
	height: 30em;
	width: 22.5em; 
	background-color: #111111;
	opacity: 0.6;

	transition: opacity .25s ease-in-out;
   	-moz-transition: opacity .25s ease-in-out;
   	-webkit-transition: opacity .25s ease-in-out;
	-o-transition: opacity .25s ease-in-out;
}

	#a350Box:hover {
		opacity: 0.9;
	}

#a350 {
	position: relative;
	left: 2em;
	top: 6em;
	width: 20em;
	z-index: 0;
}

#a350Brand {
	position: relative;
	top: 0.15em;
	left: 0.1em;
	font-size: 7em;
	color: #ffffff;
}

#a350Craft {
	position: relative;
	font-family: "Poiret One", cursive;
	top: -1em;
	left: 0.05em;
	font-size: 7.5em;
	color: #ffffff;
}

#a350Description {
	position: relative;
	top: 9.5em;
	left: 0.6em;
	width: 21.5em;
	color: #ffffff;
}

#a350Stats {
	position: relative;
    display: inline-block;
	vertical-align: top;
	top: 7em;
	left: 4em;
	color: #ffffff;
}

/* A330 */

#a332Box {
	position: relative;
    display: inline-block;
	vertical-align: top;
	left: 3.5em;
	height: 30em;
	width: 22.5em; 
	background-color: #111111;
	opacity: 0.6;

	transition: opacity .25s ease-in-out;
   	-moz-transition: opacity .25s ease-in-out;
   	-webkit-transition: opacity .25s ease-in-out;
	-o-transition: opacity .25s ease-in-out;
}

	#a332Box:hover {
		opacity: 0.9;
	}

#a332 {
	position: relative;
	left: 2em;
	top: 6em;
	width: 20em;
	z-index: 0;
}

#a332Brand {
	position: relative;
	top: 0.15em;
	left: 0.1em;
	font-size: 7em;
	color: #ffffff;
}

#a332Craft {
	position: relative;
	font-family: "Poiret One", cursive;
	top: -1em;
	left: 0.05em;
	font-size: 7.5em;
	color: #ffffff;
}

#a332Description {
	position: relative;
	top: 9.6em;
	left: 0.6em;
	width: 21.5em;
	color: #ffffff;
}

#a332Stats {
	position: relative;
    display: inline-block;
	vertical-align: top;
	top: 7em;
	left: 4em;
	color: #ffffff;
}

/* A320 */

#a320Box {
	position: relative;
    display: inline-block;
	vertical-align: top;
	left: 3.5em;
	height: 30em;
	width: 22.5em; 
	background-color: #111111;
	opacity: 0.6;

	transition: opacity .25s ease-in-out;
   	-moz-transition: opacity .25s ease-in-out;
   	-webkit-transition: opacity .25s ease-in-out;
	-o-transition: opacity .25s ease-in-out;
}

	#a320Box:hover {
		opacity: 0.9;
	}

#a320 {
	position: relative;
	left: 2em;
	top: 5em;
	width: 20em;
	z-index: 0;
}

#a320Brand {
	position: relative;
	left: 0.1em;
	font-size: 7em;
	color: #ffffff;
}

#a320Craft {
	position: relative;
	font-family: "Poiret One", cursive;
	top: -1.15em;
	left: 0.05em;
	font-size: 7.5em;
	color: #ffffff;
}

#a320Description {
	position: relative;
	top: 8.75em;
	left: 0.6em;
	width: 21.5em;
	color: #ffffff;
}

#a320Stats {
	position: relative;
    display: inline-block;
	vertical-align: top;
	top: 6em;
	left: 5em;
	color: #ffffff;
}