@import url('https://fonts.googleapis.com/css?family=Comfortaa:400,700|Indie+Flower|Poiret+One');
@import url('https://db.onlinewebfonts.com/c/116d187134420de5733c7c45bbc80c46?family=LuloCleanW01-One');

body {
    background-image: url("../img/airbus/background.jpg");
    background-size: 100em;
    background-position-y: -75px;
    overflow: hidden;
}

/* Generic Styles */
p {
	font-family: 'Comfortaa', cursive;
}

/* Header */
#stripe {
	position: relative;
	left: -10px;
	width: 101em;
	height: 25px; 
	background: linear-gradient(to right, #24407B, #24407B, #D1CFDF, #D1CFDF, #D1CFDF,  #24407B,  #24407B);
}

#head {
	position: relative;
	top: 10em;
	width: 200em;
}

#headText {
	position: relative;
	text-align: center;
	left: -5em;
    top: -1em;
}
#headFlight {
	position: relative;
	right: 3em;
	font-family: 'Comfortaa', cursive;
	font-size: 2.5em;
	font-weight: bold;
	color: #D81921; 
}
#headLevel {
	position: relative;
	top: 0.85em;
	left: -5.45em;
	font-family: 'Comfortaa', cursive;
	font-size: 2.5em;
	font-weight: bold;
	color: #D81921;
}

#headNum {
	position: relative;
	top: 0.3em;
	left: -2.2em;
	font-family: 'Indie Flower', cursive;
	font-size: 6em;
	font-weight: bold;
	color: rgb(236, 240, 241);
}

#airbusTitle {
    position: relative;
	top: -2.25em;
    left: 4em;
    font-family: 'Poiret One';
    font-size: 5em;
    font-weight: bold;
}

.toIndex {
	text-decoration: none;
}

#a380Box {
	position: relative;
	top: -10em;
	height: 30em;
	width: 25em; 
	background-color: #111111;
	opacity: 0.6;

	transition: opacity .25s ease-in-out;
   	-moz-transition: opacity .25s ease-in-out;
   	-webkit-transition: opacity .25s ease-in-out;
}

	#a380Box:hover {
		opacity: 0.9;
	}

#a380 {
	position: relative;
	left: 2em;
	top: 5em;
	width: 22.5em;
	z-index: 0;
}

#a380Brand {
	position: relative;
	top: -0.2em;
	left: 0.3em;
	font-size: 7em;
	color: #ffffff;
}

#a380craft {
	position: relative;
	font-family: "Poiret One", cursive;
	top: -1.3em;
	left: 0.15em;
	font-size: 8em;
	color: #ffffff;
}

#a380Description {
	position: relative;
	top: 7.5em;
	left: 0.5em;
	width: 24em;
	color: #ffffff;
}

#a380Stats {
	position: relative;
	top: 5em;
	left: 5em;
	color: #ffffff;
}