@import url('https://fonts.googleapis.com/css?family=Comfortaa:400,700|Indie+Flower|Poiret+One|Julius+Sans+One');

body {
    background-image: url("../img/boeing/background.jpg");
    background-size: 100em;
    overflow: hidden;
}

/* Header */
#stripe {
	position: relative;
	left: -10px;
	width: 101em;
	height: 25px; 
	background: linear-gradient(to right, #242424, #1153B3, #242424);
}

#head {
	position: relative;
	top: 10em;
	width: 200em;
}

#headText {
	position: relative;
	text-align: center;
	left: -5em;
    top: -1em;
}

#headFlight {
	position: relative;
	right: 3em;
	font-family: 'Comfortaa', cursive;
	font-size: 2.5em;
	font-weight: bold;
	color: #5777D6; 
}
#headLevel {
	position: relative;
	top: 0.85em;
	left: -5.45em;
	font-family: 'Comfortaa', cursive;
	font-size: 2.5em;
	font-weight: bold;
	color: #5777D6;
}

#headNum {
	position: relative;
	top: 0.3em;
	left: -2.2em;
	font-family: 'Indie Flower', cursive;
	font-size: 6em;
	font-weight: bold;
	color: rgb(236, 240, 241);
}

#boeingTitle {
    position: relative;
	top: -2.1em;
    left: 4em;
    font-family: 'Julius Sans One';
    font-size: 5em;
    font-weight: bold;
}

.toIndex {
	text-decoration: none;
}