@import url('https://fonts.googleapis.com/css?family=Comfortaa:400,700|Indie+Flower|Poiret+One|Nunito|Dosis');

body {
	background-image: url("../img/index/background.jpg");
	overflow: hidden;
}

/* Header */
#stripe {
	position: relative;
	left: -10px;
	width: 101em;
	height: 25px; 
	background: linear-gradient(to right, #EA7810, #756691, #756691, #59BEDF, #59BEDF);
}

#head {
	position: relative;
	top: 10em;
	width: 200em;
}

#headFlight {
	position: relative;
	top: -0.4em;
	right: 3em;
	font-family: 'Comfortaa', cursive;
	font-size: 2.5em;
	font-weight: bold;
	color: #59BEDF;
}
#headLevel {
	position: relative;
	top: -1.75em;
	right: 3em;
	font-family: 'Comfortaa', cursive;
	font-size: 2.5em;
	font-weight: bold;
	color: #59BEDF;
}

#headNum {
	position: relative;
	top: -2.75em;
	font-family: 'Indie Flower', cursive;
	font-size: 6em;
	font-weight: bold;
	color: rgb(236, 240, 241);
}

#headText {
	position: relative;
	text-align: center;
	left: 4em;
}

/* Main Content */
.generalBox {
	position: relative;
	width: 25em;
	height: 30em;
	opacity: 1;
	left: 5em;
}

/* Airbus */
#box {
	position: relative;
    display: inline-block;
	vertical-align: top;
	bottom: 20em;
	left: 17.5em;
}

#frontAircraft {
	height: 47.5em;
	width: 62.5em;

   	transition: opacity .25s ease-in-out;
   	-moz-transition: opacity .25s ease-in-out;
   	-webkit-transition: opacity .25s ease-in-out;
}

	#frontAircraft:hover {
		opacity: 0.75;
	}

#airbusTxt {
	position: relative;
	top: -11.5em;
	left: 1.75em;
	color: #ffffff;

	letter-spacing: -0.101em;
	font-family: "Poiret One", cursive;
	letter-spacing: 0.1em;
	font-size: 4em;
	z-index: 2;
}

#boeingTxt {
	position: relative;
	top: -6.5em;
	left: 10em;
	color: #111111;
	font-family: "Nunito", cursive;
	font-size: 4em;
	z-index: 2;
}

#cessnaTxt {
	position: relative;
	top: -13em;
	left: 10em;
	color: #ffffff;
	font-family: "Nunito", cursive;
	font-size: 4em;
	z-index: 2;
}

#embBombTxt {
	position: relative;
	top: -10em;
	left: 1em;
	color: #111111;
	font-family: "Dosis", cursive;
	font-size: 4em;
	z-index: 2;
}

#leftCircle {
	position: relative;
	top: -30em;
	left: 2em;
	width: 10em;
	height: 10em;
	background: #111111;
	opacity: 0.5;
	-moz-border-radius: 5em;
	-webkit-border-radius: 5em;
	border-radius: 5em;

   	transition: opacity .25s ease-in-out;
   	-moz-transition: opacity .25s ease-in-out;
   	-webkit-transition: opacity .25s ease-in-out;
}

#leftCircle:hover {
	opacity: 1;
}

#rightCircle {
	position: relative;
	top: -40em;
	right: -85.5em;
	width: 10em;
	height: 10em;
	background: #111111;
	opacity: 0.5;
	-moz-border-radius: 5em;
	-webkit-border-radius: 5em;
	border-radius: 5em;

   	transition: opacity .25s ease-in-out;
   	-moz-transition: opacity .25s ease-in-out;
   	-webkit-transition: opacity .25s ease-in-out;
}

#rightCircle:hover {
	opacity: 1;
}